<h1>FAQ</h1>
<p>
1. When will my order arrive?<br>
Standard delivery orders to most areas of the US should arrive within 5 working days.
</p>

<p>
2.How do I return an item?<br>
You can return an item by mail within 14 days of receipt. Customers in the US will receive a free return label with their order.
</p>